$primary-color: #292929;
$secondary-color: #3cb878;
$white-color: white;
$black-color: black;
$primary-button-color: $white-color;
$primary-button-bg-color: $secondary-color;
$primary-button-hover-color: $white-color;
$primary-button-hover-bg-color: #4ec588;
$secondary-button-color: $secondary-color;
$secondary-button-bg-color: $white-color;
$secondary-button-hover-color: $secondary-color;
$secondary-button-hover-bg-color: #e6e6e6;
$dull-color: #ccc;
$required-color: red;
$primary-border-color: $dull-color;
$primary-bg-color: #3c444e;
$font-family: Roboto;
$display-inline-block: inline-block;
$display-block: block;
$display-none: none;
$display-inline: inline;
$p-relative: relative;
$p-absolute: absolute;
$p-fixed: fixed;
$size-0px: 0px;
$size-4px: 4px;
$size-8px: 8px;
$size-12px: 12px;
$size-16px: 16px;
$size-20px: 20px;

/* ICON font size*/

$size-18px: 18px;
$size-24px: 24px;
$size-32px: 32px;

/*Font size*/

$size-10px: 10px;
$size-11px: 11px;
$size-14px: 14px;
$left: left;
$right: right;
$top: top;
$center: center;
$middle: middle;
$top: top;
$bottom: bottom;
$none: none;

/*default model opacity*/

$model-opacity: 0.3;

